In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import geopandas as gpd

In [5]:
data_path = "../data/raw/forest_observation_system"
data_file = "FOS_Plots_v2019.04.10.xlsx"
geojson_TmFO = "export_taOverallPlot.geojson"

In [6]:
df = pd.read_excel(os.path.join(data_path, data_file), sheet_name=0)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [7]:
df.columns

Index(['Plot_ID', 'Sub-plot_ID', 'CountryName', 'Network', 'Institution',
       'Link', 'YearEstablished', 'YearCensus', 'PI team', 'Lat_cnt',
       'Lon_cnt', 'Altitude', 'Slope, degree', 'PlotArea', 'Plot_shape',
       'Forest_Status', 'MinDBH', 'H_Lorey_local', 'H_Lorey_Chave',
       'H_Lorey_Feldpausch', 'H_max_Local', 'H_max_Chave', 'H_max_Feldpausch',
       'AGB_local', 'AGB_local_Cred_2.5', 'AGB_local_97.5', 'AGB_Feldpausch',
       'AGB_Feldpausch_Cred_2.5', 'AGB_Feldpausch_Cred_97.5', 'AGB_Chave',
       'AGB_ChaveCred_2.5', 'AGB_ChaveCred_97.5', 'Wood density', 'GSV', 'BA',
       'Ndens', 'Reference', 'Other_Measurements',
       'Biomass processing protocol'],
      dtype='object')

In [8]:
cols = ['Plot_ID', 'Sub-plot_ID', 'CountryName','YearCensus', 'PI team', 'Lat_cnt',
       'Lon_cnt', 'Altitude', 'Slope, degree', 'PlotArea', 'Plot_shape', 'AGB_local', 'AGB_local_Cred_2.5', 'AGB_local_97.5']

In [9]:
df[cols]

,Plot_ID,Sub-plot_ID,CountryName,YearCensus,PI team,Lat_cnt,Lon_cnt,Altitude,"Slope, degree",PlotArea,Plot_shape,AGB_local,AGB_local_Cred_2.5,AGB_local_97.5
0,ALF-01,0_0,Brazil,2008,Beatriz Marimon (Universidade do Estado de Mat...,-9.60,-55.94,NaN,NaN,0.250,NaN,356.8,306.7,419.0
1,ALF-01,0_1,Brazil,2008,Beatriz Marimon (Universidade do Estado de Mat...,-9.60,-55.94,NaN,NaN,0.250,NaN,164.0,135.8,204.6
2,ALF-01,0_2,Brazil,2008,Beatriz Marimon (Universidade do Estado de Mat...,-9.60,-55.94,NaN,NaN,0.250,NaN,212.8,186.5,244.7
3,ALF-01,0_3,Brazil,2008,Beatriz Marimon (Universidade do Estado de Mat...,-9.59,-55.94,NaN,NaN,0.250,NaN,176.4,156.3,201.1
4,ALP-01,0_0,Peru,2005,Rodolfo Vasquez Martinez (Jardín Botánico de M...,-3.95,-73.43,NaN,NaN,0.250,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640,UK-53,1,Ukraine,2015,"P.I. Lakyda, O. Morozyuk, I.P. Lakyda",50.31,30.13,NaN,NaN,1.200,NaN,273.0,NaN,NaN
1641,UK-TPP-201601,1,Ukraine,2016,"P.Lakyda, V.Radchenko, A.Bilous, R.Matyashuk",50.34,30.48,159.0,NaN,0.500,NaN,218.0,NaN,NaN
1642,UK-TPP-201602,1,Ukraine,2016,"P.Lakyda, V.Radchenko, A.Bilous, R.Matyashuk",50.34,30.48,171.0,NaN,0.880,NaN,314.0,NaN,NaN
1643,UK-TPP-201703,1,Ukraine,2017,"P.Lakyda, V.Radchenko, A.Bilous, R.Matyashuk, ...",50.34,30.49,NaN,NaN,0.440,NaN,231.0,NaN,NaN
1644,UK-TPP-201704,1,Ukraine,2017,"P.Lakyda, V.Radchenko, A.Bilous, R.Matyashuk, ...",50.34,30.50,NaN,NaN,0.288,NaN,190.0,NaN,NaN

In [10]:
df["Plot_ID"].unique()

array(['ALF-01', 'ALP-01', 'ALP-02', 'ALP-30', 'ALV-02', 'ASN-02',
       'AU_AdelaideRiver', 'AU_BEN-NR1', 'AU_DalyRegrowth',
       'AU_Remnant6-Rugby_Reserve', 'BCI-01', 'BDEF-AB-Rav',
       'BDEF-AB-Rid', 'BDEF-AB-Sec', 'BDEF-AB-Slo', 'BDEF-LG-Rav',
       'BDEF-LG-Rid', 'BDEF-LG-Sec', 'BDEF-LG-Slo', 'BDEF-PR-Rav',
       'BDEF-PR-Rid', 'BDEF-PR-Sec', 'BDEF-PR-Slo', 'BDEF-RQ-Rav',
       'BDEF-RQ-Rid', 'BDEF-RQ-Sec', 'BDEF-RQ-Slo', 'BDEF-RY-Rav',
       'BDEF-RY-Rid', 'BDEF-RY-Sec', 'BDEF-RY-Slo', 'BNT-01', 'BNT-02',
       'BNT-04', 'CAP-09', 'CAP-10', 'CRP-02', 'CVL-01', 'CVL-11',
       'CZ_BK-FD', 'CZ_BK-FS', 'DAD-03', 'DAD-04', 'DAN-01', 'DAN-02',
       'DAN-03', 'DJK-01', 'DJK-02', 'DJK-03', 'DJK-04', 'DJK-05',
       'DJK-06', 'FLO-02', 'FMH-01', 'FMH-02', 'FMH-03', 'FRP-01',
       'FRP-02', 'GAU-02', 'GAU-05', 'GAU-06', 'GBO-02', 'GBO-04',
       'GBO-08', 'GBO-11', 'GBO-15', 'GBO-19', 'HCC-21', 'HCC-22',
       'JBS-01', 'JBS-02', 'JEN-11', 'KR01_Picea abies53B',
       'KR02_Picea abies59C', 'KR03_Picea abies149D',
       'KR04_Picea abies182B', 'KR05_Picea abies186A',
       'KR06_Picea abies305A', 'KR07_Picea abies367A',
       'KR08_Picea abies448C', 'KR09_Picea abies469B_1',
       'KR10_Picea abies469B_2', 'KR11_Picea abies470A',
       'KR12_Picea abies475A', 'KR14_Picea abies547A',
       'KR15_Picea abies699D', 'KSN-01', 'KSN-02', 'KSN-05', 'KSN-06',
       'LFB-01', 'LFB-02', 'LFB-03', 'LNL-01', 'LNL-02', 'LNL-03',
       'LNL-04', 'LNL-05', 'LNL-06', 'LNL-07', 'LNL-08', 'LNL-09',
       'LNL-10', 'LNL-11', 'LNL-12', 'LSL-02', 'MBT-01', 'MBT-02',
       'MBT-08', 'MON-01', 'MON-02', 'MON-03', 'MON-05', 'MON-09',
       'MON-10', 'MON-11', 'MON-13', 'MON-14', 'MON-19', 'MON-20',
       'MON-21', 'MON-21A', 'MON-22', 'MON-23', 'NGI-01', 'NGI-02',
       'NGI-03', 'NGI-05', 'NGI-06', 'NGI-07', 'NGI-08', 'NGI-09',
       'NGI-10', 'NGI-11', 'NGI-12', 'NOU-01', 'NOU-02', 'NOU-03',
       'NOU-04', 'NOU-05', 'NOU-06', 'NOU-07', 'NOU-08', 'NOU-09',
       'NOU-10', 'NOU-11', 'PAR-01', 'PAR-02', 'PAR-03', 'PAR-04',
       'PAR-05', 'PAR-06', 'PAR-07', 'PAR-08', 'PAR-09', 'PAR-10',
       'PAR-11', 'PAR-12', 'PAR-13', 'PAR-14', 'PAR-15', 'PAR-16',
       'PAR-17', 'PLR-0440323', 'PLR-1360453', 'PLR-1390333',
       'PLR-1430333', 'PNY-05', 'PNY-06', 'PNY-07', 'POA-01', 'POA-02',
       'Rabi', 'RCA_SH-1-1', 'RCA_SH-1-2', 'RCA_SH-1-3', 'RCA_SH-2-1',
       'RCA_SH-2-2', 'RCA_SH-2-3', 'RCA_SH-2-4', 'RCA_SH-3-1',
       'RCA_SH-3-2', 'RCA_SH-3-3', 'RC-Arkh-01', 'RC-LosPog-12', 'RCS-01',
       'RCS-02', 'RCS-05', 'RG_BL_1_1', 'RG_BL_1_2', 'RG_BL_1_3',
       'RG_BL_2_1', 'RG_BL_2_2', 'RG_BL_2_3', 'RG_BL_3_1', 'RG_BL_3_2',
       'RG_BL_3_3', 'RK_TR-02', 'RK_TR-03', 'RK_TR-08', 'RK_TR-10',
       'RK_TR-13', 'RK_TR-14', 'RK_TR-19', 'RK_TR-21', 'RK_TR-22',
       'RK_TR-28', 'RK_TR-29', 'RK_Tychany', 'RK-03', 'RK-05', 'RK-10',
       'RK-dzherga-11', 'RK-dzherga-12', 'RKOM-01', 'RKOM-08', 'RKOM-38',
       'RM_Bolk17-03', 'RM_KK17-01', 'RM_Val16-06', 'RM_Val16-07',
       'RM_Val16-10', 'RM_Val16-11', 'RM_Val16-12', 'RM_Val16-13',
       'RM_Val16-14', 'RM_Val16-15', 'RM_Val16-16', 'RM_Val17-01',
       'RM_Val17-02', 'RM_Val17-03', 'RM_Val17-04', 'RM_Val17-05',
       'RM-01', 'RM-Sverdl-kv032-07', 'RM-Sverdl-kv132-06',
       'RM-Tutchev-kv100-01', 'RSP-18-01', 'RU-DenezhKam-31', 'RU-DK-04',
       'RU-PIZ-05', 'RU-PIZ-07-01', 'RU-PIZ-08-03', 'RWS-01', 'RWS-02',
       'RWS-03', 'RWS-05', 'RWS-Kitaeva_Gora-A01', 'RWS-Kitaeva_Gora-A03',
       'RWS-Lezhnevka-A02', 'RWS-Lezhnevka-A03', 'SAA-02', 'SAT-01',
       'SAT-02', 'SCT-06', 'SOR-01', 'Spain_Valsainrect-1',
       'Spain_Valsainrect-2', 'Spain_Valsainrect-3',
       'Spain_Valsainrect-4', 'Spain_Valsainrect-5',
       'Spain_Valsainrect-6', 'SUC-01', 'TAM-01', 'TAM-02', 'TAM-05',
       'TAM-06', 'TAM-07', 'TAM-09', 'UK-53', 'UK-TPP-201601',
       'UK-TPP-201602', 'UK-TPP-201703', 'UK-TPP-201704'], dtype=object)

In [11]:
df["Network"].value_counts()

TmFO         500
ForestGEO    300
RAINFOR      288
IIASA        258
AfriTRON     178
TForces       12
AusCover       4
Name: Network, dtype: int64

In [12]:
df["Network"].isna().sum()

105

In [41]:
df[df["Network"] == "TmFO"].groupby(["Plot_ID", "YearCensus"]).count()

,,Sub-plot_ID,CountryName,Network,Institution,Link,YearEstablished,PI team,Lat_cnt,Lon_cnt,Altitude,...,AGB_Chave,AGB_ChaveCred_2.5,AGB_ChaveCred_97.5,Wood density,GSV,BA,Ndens,Reference,Other_Measurements,Biomass processing protocol
Plot_ID,YearCensus,,,,,,,,,,,,,,,,,,,,,
PAR-01,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-02,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-03,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-04,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-05,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-06,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-07,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-08,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-09,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-10,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-11,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-12,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-13,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-14,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-15,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25
PAR-16,2010,100,100,100,100,100,100,100,100,100,0,...,100,100,100,100,0,100,100,100,0,100
PAR-17,2009,25,25,25,25,25,25,25,25,25,0,...,25,25,25,25,0,25,25,25,0,25

In [35]:
df[df["Plot_ID"] == "PAR-01"]

,Plot_ID,Sub-plot_ID,CountryName,Network,Institution,Link,YearEstablished,YearCensus,PI team,Lat_cnt,...,AGB_Chave,AGB_ChaveCred_2.5,AGB_ChaveCred_97.5,Wood density,GSV,BA,Ndens,Reference,Other_Measurements,Biomass processing protocol
801,PAR-01,1,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,343.0,290.1,403.6,0.700900,NaN,26.787406,496.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
802,PAR-01,2,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,344.4,299.0,397.2,0.672011,NaN,29.469930,588.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
803,PAR-01,3,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,247.7,211.7,287.8,0.643828,NaN,22.341791,460.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
804,PAR-01,4,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,387.4,342.4,437.8,0.722788,NaN,31.949045,736.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
805,PAR-01,5,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,396.2,346.9,455.0,0.742221,NaN,30.429171,624.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
806,PAR-01,6,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,473.0,409.5,550.6,0.744933,NaN,34.133065,544.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
807,PAR-01,7,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,436.6,377.3,507.1,0.710127,NaN,34.224969,680.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
808,PAR-01,8,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,339.6,289.4,401.4,0.636901,NaN,29.914801,616.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
809,PAR-01,9,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,242.4,210.9,276.8,0.608399,NaN,24.289396,548.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
810,PAR-01,10,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,312.9,268.8,363.4,0.694829,NaN,26.258688,536.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
811,PAR-01,11,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,508.5,423.8,619.6,0.713272,NaN,36.515423,580.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
812,PAR-01,12,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,533.3,458.3,619.5,0.698801,NaN,40.005515,604.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
813,PAR-01,13,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,412.2,351.6,495.8,0.731997,NaN,30.826030,544.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
814,PAR-01,14,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,288.7,245.2,340.5,0.681125,NaN,24.696710,544.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
815,PAR-01,15,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,317.3,278.2,362.9,0.711668,NaN,26.734134,604.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
816,PAR-01,16,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,377.4,329.6,433.7,0.753291,NaN,29.661130,656.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
817,PAR-01,17,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,391.5,338.4,448.9,0.759984,NaN,29.818436,596.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
818,PAR-01,18,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,357.9,309.9,414.8,0.720181,NaN,28.305360,580.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
819,PAR-01,19,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,321.0,272.4,379.5,0.717624,NaN,25.686582,588.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
820,PAR-01,20,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,304.4,269.1,345.1,0.701026,NaN,26.275119,588.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
821,PAR-01,21,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,385.7,337.2,439.7,0.712404,NaN,31.340013,644.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
822,PAR-01,22,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,329.3,283.6,382.6,0.736864,NaN,26.223549,552.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
823,PAR-01,23,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,343.9,301.0,398.3,0.743540,NaN,27.398464,576.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
824,PAR-01,24,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,355.8,306.2,414.4,0.726943,NaN,28.311424,588.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf
825,PAR-01,25,French Guiana,TmFO,CIRAD,https://paracou.cirad.fr,1984,2009,"Geraldine Derroire, Bruno Hérault",5.27,...,246.3,214.7,285.5,0.730336,NaN,20.317349,444.0,"Labrière N. et al., 2018. In situ reference da...",NaN,RepFOS_15Feb19_TropiSAR.pdf

In [13]:
tmfo_df = gpd.read_file(os.path.join(data_path, geojson_TmFO))

In [25]:
tmfo_df

,id,idAllPlot,idPlot,idSubPlot,TypeSub,Plot,TypePlot,Subplot,Treatment,geometry
0,taOverallPlot.1,1,99,9901,Subplots,9,DisturbancesPlots,1,T1 : selective logging,"MULTIPOLYGON (((286179.546 581617.658, 286146...."
1,taOverallPlot.2,2,99,9902,Subplots,9,DisturbancesPlots,2,T1 : selective logging,"MULTIPOLYGON (((286299.047 581651.409, 286266...."
2,taOverallPlot.3,3,99,9903,Subplots,9,DisturbancesPlots,3,T1 : selective logging,"MULTIPOLYGON (((286212.546 581496.908, 286179...."
3,taOverallPlot.4,4,99,9904,Subplots,9,DisturbancesPlots,4,T1 : selective logging,"MULTIPOLYGON (((286332.048 581530.659, 286299...."
4,taOverallPlot.5,5,99,9900,Buffer25m,9,DisturbancesPlots,5,T1 : selective logging,"MULTIPOLYGON (((286195.246 581466.008, 286116...."
...,...,...,...,...,...,...,...,...,...,...
117,taOverallPlot.118,118,920,920,PlotsImbP,ImbS3,FertilizationPlots,0,Slope,"MULTIPOLYGON (((286002.454 583653.912, 286052...."
118,taOverallPlot.119,119,920,920,PlotsImbP,ImbS2,FertilizationPlots,0,Slope,"MULTIPOLYGON (((286104.169 583721.249, 286151...."
119,taOverallPlot.120,120,920,920,PlotsImbP,ImbT1,FertilizationPlots,0,Top,"MULTIPOLYGON (((286601.105 583409.145, 286651...."
120,taOverallPlot.121,121,920,920,PlotsImbP,ImbT3,FertilizationPlots,0,Top,"MULTIPOLYGON (((286552.430 583472.063, 286602...."
121,taOverallPlot.122,122,920,920,PlotsImbP,ImbT2,FertilizationPlots,0,Top,"MULTIPOLYGON (((286472.310 583417.291, 286522...."

In [32]:
tmfo_df[tmfo_df["idPlot"]==94]

,id,idAllPlot,idPlot,idSubPlot,TypeSub,Plot,TypePlot,Subplot,Treatment,geometry
25,taOverallPlot.26,26,94,9401,Subplots,4,DisturbancesPlots,1,T3 : selective logging + TSI + fuelwood,"MULTIPOLYGON (((285844.545 582934.166, 285811...."
26,taOverallPlot.27,27,94,9402,Subplots,4,DisturbancesPlots,2,T3 : selective logging + TSI + fuelwood,"MULTIPOLYGON (((285963.795 582966.666, 285931...."
27,taOverallPlot.28,28,94,9403,Subplots,4,DisturbancesPlots,3,T3 : selective logging + TSI + fuelwood,"MULTIPOLYGON (((285877.296 582813.165, 285844...."
28,taOverallPlot.29,29,94,9404,Subplots,4,DisturbancesPlots,4,T3 : selective logging + TSI + fuelwood,"MULTIPOLYGON (((285996.546 582845.665, 285963...."
29,taOverallPlot.30,30,94,9400,Buffer25m,4,DisturbancesPlots,5,T3 : selective logging + TSI + fuelwood,"MULTIPOLYGON (((285859.997 582782.465, 285781...."

In [39]:
tmfo_df.groupby(["idPlot"]).count()

,id,idAllPlot,idSubPlot,TypeSub,Plot,TypePlot,Subplot,Treatment,geometry
idPlot,,,,,,,,,
91,5,5,5,5,5,5,5,5,5
92,5,5,5,5,5,5,5,5,5
93,5,5,5,5,5,5,5,5,5
94,5,5,5,5,5,5,5,5,5
95,5,5,5,5,5,5,5,5,5
96,5,5,5,5,5,5,5,5,5
97,5,5,5,5,5,5,5,5,5
98,5,5,5,5,5,5,5,5,5
99,5,5,5,5,5,5,5,5,5
910,5,5,5,5,5,5,5,5,5
911,5,5,5,5,5,5,5,5,5
912,5,5,5,5,5,5,5,5,5
913,5,5,5,5,5,5,5,5,5
914,5,5,5,5,5,5,5,5,5
915,5,5,5,5,5,5,5,5,5
916,25,25,25,25,25,25,25,25,25
918,10,10,10,10,10,10,10,10,10
920,12,12,12,12,12,12,12,12,12

In [17]:
tmfo_df["TypePlot"].value_counts()

DisturbancesPlots     60
BiodiversityPlots     40
FertilizationPlots    12
Guyaflux              10
Name: TypePlot, dtype: int64

In [19]:
tmfo_df["Plot"].unique()

array(['9', '8', '7', '6', '5', '4', '3', '2', '15', 'ImbB4', '14', '13',
       '12', '11', '10', '1', '16', 'Gfx1', 'Gfx2', 'Gfx3', 'Gfx4',
       'Gfx5', 'Gfx9', 'Gfx6', 'Gfx8', 'Gfx7', 'Gfx10', 'ImbT4', 'ImbS4',
       'ImbB3', 'ImbB1', 'ImbB2', 'ImbS1', 'ImbS3', 'ImbS2', 'ImbT1',
       'ImbT3', 'ImbT2'], dtype=object)

In [43]:
tmfo_df[tmfo_df["Plot"].isin(['9', '8', '7', '6', '5', '4', '3', '2', '15', 'ImbB4', '14', '13',
       '12', '11', '10', '1', '16'])]

,id,idAllPlot,idPlot,idSubPlot,TypeSub,Plot,TypePlot,Subplot,Treatment,geometry
0,taOverallPlot.1,1,99,9901,Subplots,9,DisturbancesPlots,1,T1 : selective logging,"MULTIPOLYGON (((286179.546 581617.658, 286146...."
1,taOverallPlot.2,2,99,9902,Subplots,9,DisturbancesPlots,2,T1 : selective logging,"MULTIPOLYGON (((286299.047 581651.409, 286266...."
2,taOverallPlot.3,3,99,9903,Subplots,9,DisturbancesPlots,3,T1 : selective logging,"MULTIPOLYGON (((286212.546 581496.908, 286179...."
3,taOverallPlot.4,4,99,9904,Subplots,9,DisturbancesPlots,4,T1 : selective logging,"MULTIPOLYGON (((286332.048 581530.659, 286299...."
4,taOverallPlot.5,5,99,9900,Buffer25m,9,DisturbancesPlots,5,T1 : selective logging,"MULTIPOLYGON (((286195.246 581466.008, 286116...."
...,...,...,...,...,...,...,...,...,...,...
96,taOverallPlot.97,97,916,91612,SubplotsP16,16,BiodiversityPlots,12,T0 : control,"MULTIPOLYGON (((285210.159 581513.271, 285210...."
97,taOverallPlot.98,98,916,91620,SubplotsP16,16,BiodiversityPlots,20,T0 : control,"MULTIPOLYGON (((285527.443 581502.732, 285526...."
98,taOverallPlot.99,99,916,91615,SubplotsP16,16,BiodiversityPlots,15,T0 : control,"MULTIPOLYGON (((285498.700 581599.048, 285498...."
99,taOverallPlot.100,100,916,91610,SubplotsP16,16,BiodiversityPlots,10,T0 : control,"MULTIPOLYGON (((285497.255 581603.527, 285497...."
100,taOverallPlot.101,101,916,91609,SubplotsP16,16,BiodiversityPlots,9,T0 : control,"MULTIPOLYGON (((285496.671 581599.952, 285401...."

In [69]:
shp = "shapefiles/Polygons_Calibration_points_TropiSAR.shp"
shp_df = gpd.read_file(os.path.join(data_path, shp))

In [70]:
shp_df

     areacode  studysite                                           geometry
0     NOU01h1  NOURAGUES  POLYGON ((312514.286 449724.252, 312517.602 44...
1     NOU01h2  NOURAGUES  POLYGON ((312517.602 449824.197, 312520.917 44...
2     NOU02h1  NOURAGUES  POLYGON ((313704.311 451320.506, 313616.513 45...
3     NOU02h2  NOURAGUES  POLYGON ((313752.181 451408.304, 313664.382 45...
4     NOU02h3  NOURAGUES  POLYGON ((313800.050 451496.102, 313712.252 45...
..        ...        ...                                                ...
749  PAR17q21    PARACOU  POLYGON ((272841.648 586475.128, 272867.475 58...
750  PAR17q22    PARACOU  POLYGON ((272867.475 586517.942, 272893.301 58...
751  PAR17q23    PARACOU  POLYGON ((272893.301 586560.755, 272919.128 58...
752  PAR17q24    PARACOU  POLYGON ((272919.128 586603.568, 272944.955 58...
753  PAR17q25    PARACOU  POLYGON ((272944.955 586646.382, 272970.781 58...

[754 rows x 3 columns]

In [71]:
# shp_df = shp_df.to_crs("EPSG:4326")
shp_df["x"] = shp_df.centroid.to_crs("EPSG:4326").x
shp_df["y"] = shp_df.centroid.to_crs("EPSG:4326").y
shp_df = shp_df.to_crs("EPSG:4326")
shp_df

,areacode,studysite,geometry,x,y
0,NOU01h1,NOURAGUES,"POLYGON ((-52.68887 4.06695, -52.68884 4.06786...",-52.688404,4.067392
1,NOU01h2,NOURAGUES,"POLYGON ((-52.68884 4.06786, -52.68881 4.06876...",-52.688376,4.068296
2,NOU02h1,NOURAGUES,"POLYGON ((-52.67818 4.08141, -52.67897 4.08184...",-52.678362,4.082025
3,NOU02h2,NOURAGUES,"POLYGON ((-52.67775 4.08221, -52.67854 4.08264...",-52.677933,4.082820
4,NOU02h3,NOURAGUES,"POLYGON ((-52.67732 4.08300, -52.67811 4.08343...",-52.677504,4.083614
...,...,...,...,...,...
749,PAR17q21,PARACOU,"POLYGON ((-53.04970 5.30247, -53.04947 5.30286...",-53.049387,5.302552
750,PAR17q22,PARACOU,"POLYGON ((-53.04947 5.30286, -53.04923 5.30325...",-53.049156,5.302940
751,PAR17q23,PARACOU,"POLYGON ((-53.04923 5.30325, -53.04900 5.30364...",-53.048924,5.303328
752,PAR17q24,PARACOU,"POLYGON ((-53.04900 5.30364, -53.04877 5.30403...",-53.048692,5.303716
753,PAR17q25,PARACOU,"POLYGON ((-53.04877 5.30403, -53.04854 5.30441...",-53.048461,5.304104